<div class="home-page-1">
    <!-- header start -->
    <header>
        <!-- header-top start -->
        <div class="header-top-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <!-- header-top-left start -->
                        <div class="header-top-left res1">
                            <div class="top-menu lang-select floatleft">
                                <ul>
                                    <li><a href="#">English <i class="fa fa-angle-down"></i></a>
                                        <ul class="last-change">
                                            <li><a href="#">French</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="top-menu money-select floatleft">
                                <ul>
                                    <li><a href="#">USD <i class="fa fa-angle-down"></i></a>
                                        <ul>
                                            <li><a href="#">EUR</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="phone-number floatleft"><i class="fa fa-phone"></i>Phone : 123 456 789</div>
                        </div>
                        <!-- header-top-left end -->
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <!-- header-top-right start -->
                        <div class="header-top-right">
                            <div class="top-menu floatright">
                                <ul>
                                    <li><a href="#">Account <i class="fa fa-angle-down"></i></a>
                                        <ul>
                                            <li><a href="#">My Account</a></li>
                                            <li><a href="#">My Wishlist</a></li>
                                            <li><a href="#">My Cart</a></li>
                                            <li><a href="#">Checkout</a></li>
                                            <li><a href="#">Testimonial</a></li>
                                            <li><a href="#">Our Blog</a></li>
                                            <li><a href="#">Log In</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- header-top-right end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header-top end -->
        <!-- header-bottom start -->
        <div class="header-bottom-area">
            <div class="container">
                <div class="header-bottom-inner">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <!--logo start-->
                            <div class="logo r1">
                                <a href="{{ path('sylius_shop_homepage') }}"><img src="{{ asset('assets/shop/img/drinky.png') }}" alt="DrinkyPlace logo" class="ui small image" /></a>
                            </div>
                            <!--logo end-->
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12">
                            <div class="mobile-menu-area">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mobile-menu">
                                            <nav id="dropdown">
                                                <ul class="menu">
                                                    <li><a class="active" href="index.html">home</a>
                                                        <ul class="sub-menu">
                                                            <li><a href="index.html" class="mega-menu-title">Home Version One</a></li>
                                                            <li><a href="index-2.html">Home Version Two</a></li>
                                                            <li><a href="index-3.html">Home Version Three</a></li>
                                                            <li><a href="index-4.html">Home Version Four</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="shop.html">wine basics</a>
                                                        <ul class="mega-menu mega-menu-two">
                                                            <li>
                                                                <a href="shop.html" class="mega-menu-title">Dress</a>
                                                                <a href="shop.html">cocktail</a>
                                                                <a href="shop.html">day</a>
                                                                <a href="shop.html">eventing</a>
                                                                <a href="shop.html">sundress</a>
                                                                <a href="shop.html">sweater</a>
                                                                <a href="shop.html">belts</a>
                                                            </li>
                                                            <li>
                                                                <a href="shop.html" class="mega-menu-title">Accessories</a>
                                                                <a href="shop.html">Hair Accessories</a>
                                                                <a href="shop.html">Lifestyle</a>
                                                                <a href="shop.html">Hats and Gloves</a>
                                                                <a href="shop.html">Bras</a>
                                                                <a href="shop.html">Scarves</a>
                                                                <a href="shop.html">Small Leathers</a>
                                                            </li>
                                                            <li>
                                                                <a href="shop.html" class="mega-menu-title">Tops</a>
                                                                <a href="shop.html">cocktail</a>
                                                                <a href="shop.html">day</a>
                                                                <a href="shop.html">eventing</a>
                                                                <a href="shop.html">sundress</a>
                                                                <a href="shop.html">sweater</a>
                                                                <a href="shop.html">belts</a>
                                                            </li>
                                                            <li>
                                                                <a href="shop.html" class="mega-menu-title">Handbags</a>
                                                                <a href="shop.html">Hair Accessories</a>
                                                                <a href="shop.html">Lifestyle</a>
                                                                <a href="shop.html">Hats and Gloves</a>
                                                                <a href="shop.html">Bras</a>
                                                                <a href="shop.html">Scarves</a>
                                                                <a href="shop.html">Small Leathers</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="shop.html">tasting wine</a>
                                                        <ul class="mega-menu mega-menu-three">
                                                            <li>
                                                                <a href="shop.html" class="mega-menu-title">Dress</a>
                                                                <a href="shop.html">cocktail</a>
                                                                <a href="shop.html">day</a>
                                                                <a href="shop.html">eventing</a>
                                                                <a href="shop.html">sundress</a>
                                                                <a href="shop.html">sweater</a>
                                                                <a href="shop.html">belts</a>
                                                            </li>
                                                            <li>
                                                                <a href="shop.html" class="mega-menu-title">Accessories</a>
                                                                <a href="shop.html">Hair Accessories</a>
                                                                <a href="shop.html">Lifestyle</a>
                                                                <a href="shop.html">Hats and Gloves</a>
                                                                <a href="shop.html">Bras</a>
                                                                <a href="shop.html">Scarves</a>
                                                                <a href="shop.html">Small Leathers</a>
                                                            </li>
                                                            <li>
                                                                <a href="shop.html" class="mega-menu-title">Tops</a>
                                                                <a href="shop.html">cocktail</a>
                                                                <a href="shop.html">day</a>
                                                                <a href="shop.html">eventing</a>
                                                                <a href="shop.html">sundress</a>
                                                                <a href="shop.html">sweater</a>
                                                                <a href="shop.html">belts</a>
                                                            </li>
                                                            <li>
                                                                <a href="shop.html" class="mega-menu-title">Handbags</a>
                                                                <a href="shop.html">Hair Accessories</a>
                                                                <a href="shop.html">Lifestyle</a>
                                                                <a href="shop.html">Hats and Gloves</a>
                                                                <a href="shop.html">Bras</a>
                                                                <a href="shop.html">Scarves</a>
                                                                <a href="shop.html">Small Leathers</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="shop.html">districts</a>
                                                        <ul class="sub-menu">
                                                            <li><a href="shop.html" class="mega-menu-title">Jewelry</a></li>
                                                            <li><a href="shop.html">Boots</a></li>
                                                            <li><a href="shop.html">Slippers and Clogs</a></li>
                                                            <li><a href="shop.html">Flats</a></li>
                                                            <li><a href="shop.html">Sneakers</a></li>
                                                            <li><a href="shop.html">Wedges and Heels</a></li>
                                                            <li><a href="shop.html">Sandals and Flip Flops</a></li>
                                                            <li><a href="shop.html">Submenu item</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="shop.html">wine pairing</a>
                                                    </li>
                                                    <li><a href="#">pages</a>
                                                        <ul class="sub-menu">
                                                            <li><a href="blog.html" class="mega-menu-title">Blog</a></li>
                                                            <li><a href="blog-details.html">blog details</a></li>
                                                            <li><a href="checkout.html">checkout</a></li>
                                                            <li><a href="contact.html">contact</a></li>
                                                            <li><a href="login.html">login</a></li>
                                                            <li><a href="my-account.html">my account</a></li>
                                                            <li><a href="shop.html">shop</a></li>
                                                            <li><a href="shop-list.html">shop list</a></li>
                                                            <li><a href="shopping-cart.html">shopping cart</a></li>
                                                            <li><a href="single-product.html">single product</a></li>
                                                            <li><a href="wishlist.html"> wish list</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--mainmenu start-->
                            <div class="mainmenu">
                                <nav>
                                    <ul>
                                        <li><a class="active" href="index.html">home</a>
                                            <ul class="sub-menu">
                                                <li><a href="index.html" class="mega-menu-title">Home Version One</a></li>
                                                <li><a href="index-2.html">Home Version Two</a></li>
                                                <li><a href="index-3.html">Home Version Three</a></li>
                                                <li><a href="index-4.html">Home Version Four</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="shop.html">wine basics</a>
                                            <ul class="mega-menu mega-menu-two">
                                                <li>
                                                    <a href="shop.html" class="mega-menu-title">Dress</a>
                                                    <a href="shop.html">cocktail</a>
                                                    <a href="shop.html">day</a>
                                                    <a href="shop.html">eventing</a>
                                                    <a href="shop.html">sundress</a>
                                                    <a href="shop.html">sweater</a>
                                                    <a href="shop.html">belts</a>
                                                </li>
                                                <li>
                                                    <a href="shop.html" class="mega-menu-title">Accessories</a>
                                                    <a href="shop.html">Hair Accessories</a>
                                                    <a href="shop.html">Lifestyle</a>
                                                    <a href="shop.html">Hats and Gloves</a>
                                                    <a href="shop.html">Bras</a>
                                                    <a href="shop.html">Scarves</a>
                                                    <a href="shop.html">Small Leathers</a>
                                                </li>
                                                <li>
                                                    <a href="shop.html" class="mega-menu-title">Tops</a>
                                                    <a href="shop.html">cocktail</a>
                                                    <a href="shop.html">day</a>
                                                    <a href="shop.html">eventing</a>
                                                    <a href="shop.html">sundress</a>
                                                    <a href="shop.html">sweater</a>
                                                    <a href="shop.html">belts</a>
                                                </li>
                                                <li>
                                                    <a href="shop.html" class="mega-menu-title">Handbags</a>
                                                    <a href="shop.html">Hair Accessories</a>
                                                    <a href="shop.html">Lifestyle</a>
                                                    <a href="shop.html">Hats and Gloves</a>
                                                    <a href="shop.html">Bras</a>
                                                    <a href="shop.html">Scarves</a>
                                                    <a href="shop.html">Small Leathers</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="shop.html">tasting wine</a>
                                            <ul class="mega-menu mega-menu-three">
                                                <li>
                                                    <a href="shop.html" class="mega-menu-title">Dress</a>
                                                    <a href="shop.html">cocktail</a>
                                                    <a href="shop.html">day</a>
                                                    <a href="shop.html">eventing</a>
                                                    <a href="shop.html">sundress</a>
                                                    <a href="shop.html">sweater</a>
                                                    <a href="shop.html">belts</a>
                                                </li>
                                                <li>
                                                    <a href="shop.html" class="mega-menu-title">Accessories</a>
                                                    <a href="shop.html">Hair Accessories</a>
                                                    <a href="shop.html">Lifestyle</a>
                                                    <a href="shop.html">Hats and Gloves</a>
                                                    <a href="shop.html">Bras</a>
                                                    <a href="shop.html">Scarves</a>
                                                    <a href="shop.html">Small Leathers</a>
                                                </li>
                                                <li>
                                                    <a href="shop.html" class="mega-menu-title">Tops</a>
                                                    <a href="shop.html">cocktail</a>
                                                    <a href="shop.html">day</a>
                                                    <a href="shop.html">eventing</a>
                                                    <a href="shop.html">sundress</a>
                                                    <a href="shop.html">sweater</a>
                                                    <a href="shop.html">belts</a>
                                                </li>
                                                <li>
                                                    <a href="shop.html" class="mega-menu-title">Handbags</a>
                                                    <a href="shop.html">Hair Accessories</a>
                                                    <a href="shop.html">Lifestyle</a>
                                                    <a href="shop.html">Hats and Gloves</a>
                                                    <a href="shop.html">Bras</a>
                                                    <a href="shop.html">Scarves</a>
                                                    <a href="shop.html">Small Leathers</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="shop.html">districts</a>
                                            <ul class="sub-menu">
                                                <li><a href="shop.html" class="mega-menu-title">Jewelry</a></li>
                                                <li><a href="shop.html">Boots</a></li>
                                                <li><a href="shop.html">Slippers and Clogs</a></li>
                                                <li><a href="shop.html">Flats</a></li>
                                                <li><a href="shop.html">Sneakers</a></li>
                                                <li><a href="shop.html">Wedges and Heels</a></li>
                                                <li><a href="shop.html">Sandals and Flip Flops</a></li>
                                                <li><a href="shop.html">Submenu item</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="shop.html">wine pairing</a></li>
                                        <li><a href="#">pages</a>
                                            <ul class="sub-menu">
                                                <li><a href="blog.html" class="mega-menu-title">Blog</a></li>
                                                <li><a href="blog-details.html">blog details</a></li>
                                                <li><a href="checkout.html">checkout</a></li>
                                                <li><a href="contact.html">contact</a></li>
                                                <li><a href="login.html">login</a></li>
                                                <li><a href="my-account.html">my account</a></li>
                                                <li><a href="shop.html">shop</a></li>
                                                <li><a href="shop-list.html">shop list</a></li>
                                                <li><a href="shopping-cart.html">shopping cart</a></li>
                                                <li><a href="single-product.html">single product</a></li>
                                                <li><a href="wishlist.html"> wish list</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!--mainmenu end-->
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12">
                            <div class="cart-and-search floatright">
                                <!--search-box-start-->
                                <div class="search-box floatleft">
                                    <form action="#">
                                        <input type="text" placeholder="Enter keywords to search... " />
                                        <button><i class="fa fa-search"></i></button><!--Favicon Loupe-->
                                    </form>
                                </div>
                                <!--search-box-end-->
                                <!--total-cart-start-->
                                <div class="total-cart floatleft">
                                    <a href="#">
                                        <i class="fa fa-shopping-cart"></i><!--Favicon-->
                                        <span>2</span>
                                    </a>
                                    <div class="mini-cart-dropdown">
                                        <div class="single-mini-cart">
                                            <div class="mini-cart-thumb">
                                                <a href="#"><img src="img/products/wine-3_2.jpg" alt="" /></a>
                                            </div>
                                            <div class="mini-cart-content">
                                                <a href="#" class="product-name">Donec ac tempus</a>
                                                <span class="mini-cart-quantity">1</span>
                                                <span>x</span>
                                                <span class="mini-cart-price">$220</span>
                                            </div>
                                            <div class="cart-item-remove-edit">
                                                <a href="#" class="edit-item"></a>
                                                <a href="#" class="remove-item"></a>
                                            </div>
                                        </div>
                                        <div class="single-mini-cart">
                                            <div class="mini-cart-thumb">
                                                <a href="#"><img src="img/products/spcial-wine-3.jpg" alt="" /></a>
                                            </div>
                                            <div class="mini-cart-content">
                                                <a href="#" class="product-name">Donec ac tempus</a>
                                                <span class="mini-cart-quantity">1</span>
                                                <span>x</span>
                                                <span class="mini-cart-price">$220</span>
                                            </div>
                                            <div class="cart-item-remove-edit">
                                                <a href="#" class="edit-item"></a>
                                                <a href="#" class="remove-item"></a>
                                            </div>
                                        </div>
                                        <div class="single-mini-cart">
                                            <div class="mini-cart-subtotal">
                                                Subtotal: <span class="price">$1,044.00</span>
                                            </div>
                                        </div>
                                        <div class="mini-cart-action">
                                            <button class="floatleft">view cart <i class="fa fa-angle-right"></i></button>
                                            <button class="floatright">checkout <i class="fa fa-angle-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <!--total-cart-end-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header-bottom end -->
    </header>

{#
<div class="ui basic segment">
<div class="ui three column stackable grid">
    <div class="column">
        <a href="{{ path('sylius_shop_homepage') }}"><img src="{{ asset('assets/shop/img/drinky.png') }}" alt="DrinkyPlace logo" class="ui small image" /></a>
    </div>
    <div class="column">
        {{ sonata_block_render_event('sylius.shop.layout.header') }}
    </div>
    <div class="right aligned column">
        {{ render(url('sylius_shop_partial_cart_summary', {'template': '@SyliusShop/Cart/_widget.html.twig'})) }}
    </div>
</div>
</div>
#}